.taskAddForm {
  display: flex;
  align-items: flex-end;
  gap: 1rem;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.85rem;
    }

    input {
      height: 40px;
      width: 100%;
      padding: 0 8px;
      font-size: 1rem;
    }
  }

  button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #314da6;
    color: white;
  }
}